@model Wizard.Models.MediPared

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MediPared</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetroCuadrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetroCuadrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMedParedesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMedParedesNavigation.IdMedParedes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMedPared">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
