@model API.Wizard.Models.CalculoMateri

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalculoMateri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCalculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCalculo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCalculoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCalculoNavigation.NombreCalculo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMaterialNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMaterialNavigation.NombreMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMedParedesNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMedParedesNavigation.IdMedParedes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCalMateri">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
