@model IEnumerable<Wizard.Models.Materiales>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantiMetro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantiMetro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMaterial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMaterial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMaterial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
