@model IEnumerable<API.Wizard.Models.Materiales>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Materiales</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Material
            </th>
            <th>
                Cantidad de metros
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantiMetro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdMaterial">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdMaterial">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdMaterial">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
