@model IEnumerable<API.Wizard.Models.MediPared>

@{
    ViewData["Title"] = "Index";
}

<h1>Medidas de Pared</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ancho)
            </th>
            <th>
                Metro Cuadrado
            </th>
            <th>
                ID Paredes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Alto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ancho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetroCuadrado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMedParedesNavigation.IdMedParedes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdMedPared">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdMedPared">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdMedPared">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
